{% extends 'boardgames/base.html' %}

{% block content %}
<!--Used to separate two containers-->
<br/>

<!--Form area-->
<div class="container">
    <form method="post" style="margin:0px 400px">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" class="form-label text-white">User Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp"  name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" required>
        </div>
        <br/>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}" class="form-label text-white">Password</label>
            <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" required>
        </div>
        <br/>
        <div class="form-group">
            <label class="form-label text-white">Identity</label>

            <select  id="sid" onchange="selectcity()" class="form-control" required>
                    <option class="dropdown-item">--Click to Select--</option>
                    <option class="dropdown-item">Player</option>
                    <option class="dropdown-item">Game Developer</option>
                    <option class="dropdown-item">Club Manager</option>
                    <option class="dropdown-item">Administer</option>
            </select>

        </div>
        <br/>
        <div class="form-group">
            <input type="checkbox" name="{{ form.remember_me.html_name }}" id="{{ form.remember_me.id_for_label }}">
            <label for="{{ form.remember_me.id_for_label }}" class="form-lable text-white">Remember me</label>
        </div>

        <br/>

        <div class="form-group" align="center">
            <br/>
            <a class="button text-white" href="{% url 'boardgames:password_reset' %}" role="button">Forget Password?</a>


            <br/>
            <br/>

            <button type="submit" class="btn btn-primary">Login</button>

            <br/>
            <br/>

            <div class="form-group">
                <label for="signUp" class="form-label text-white">New? &nbsp; &nbsp;</label>
                <a class="button text-white" href="{% url 'boardgames:signup' %}" role="button" id="signUp">Signup here!</a>
            </div>
        </div>
    </form>

</div>


{% endblock %}
